.vblogs_card {
  border-radius: 16px;
  /* padding: 20px; */
}

.blogs_card_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.blogs_card_title {
  color: var(--SecondaryColor);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}

.blogs_card_paragraph {
  font-size: 16px;
  font-weight: 400;
}

/* .blogs_card_btn {
  text-align: center;
  display: block;
  width: 100%;
} */


/* Mobile */
@media only screen and (max-width: 576px) {
  .blogs_card_btn {
    text-align: center;
    display: block;
    width: 100%;
  }
}