.vblogs_card {
  border-radius: 16px;
  border: 1px solid #D0D5DD !important;
}

.blogs_card_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.blogs_card_title {
  color: var(--SecondaryColor);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
}

.blogs_card_paragraph {
  color: var(--ParagraphColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
}

/* Mobile */
@media only screen and (max-width: 576px) {
  .blogs_card_btn {
    text-align: center;
    display: block;
    width: 100%;
  }
}