.blog_bg_img {
  height: 70vh;
  background-image: url(../../../assets/blogs/blogs-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  margin: 5px 5px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.blogs_banner_sm_title {
  color: white;
}

.blogs_banner_title {
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.blogs_banner_paragraph {
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0px;
}

.blogs_banner_btn {
  display: inline-block;
  color: white;
  border: 1px solid white;
  padding: 12px 28px;
  border-radius: 8px;
}