.frequently_title {
  font-size: 48px;
  font-weight: 600;
}

.frequently_paragraph {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}

.accordion-button::after {
  background-image: url(../../assets/plus.png);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../../assets/minus.png);
}

.accordion-button {
  background-color: #F0F7E7;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  font-weight: bold;
  background-color: white;
}