.accordion-button::after {
  background-image: url(../../assets/plus.png);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../../assets/minus.png);
}

.accordion-button {
  color: var(--SecondaryColor);
  border-radius: 8px;
  background-color: #DCFCE7;
  padding: 20px 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--SecondaryColor);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  background-color: white;
}

.frequently_box {
  border: none;
  margin-bottom: 10px;
}

.frequently_text_box {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}