.accordion-button::after {
  background-image: url(../../assets/plus.png);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../../assets/minus.png);
}

.accordion-button {
  border-radius: 8px;
  background-color: #F0F7E7;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  font-weight: bold;
  background-color: white;
}

.frequently_box {
  border: none;
  margin-bottom: 10px;
}

.frequently_text_box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}