.accordion-button::after {
  background-image: url(../../assets/plus.png);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../../assets/minus.png);
}

.accordion-button {
  color: var(--SecondaryColor);
  border-radius: 8px;
  background-color: #DCFCE7;
  padding: 20px 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--SecondaryColor);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  background-color: white;
}

.frequently_box {
  border: none;
  margin-bottom: 10px;
}

.frequently_text_box {
  /* font-size: 14px; */
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 10px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border: 1px solid #F3F4FE;
  background: #FFF;
  box-shadow: 0px 20px 95px 0px rgba(201, 203, 204, 0.30);
}

@media only screen and (max-width: 480px) {
  .accordion-button {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    padding: 20px 24px;
  }

  .accordion-button:not(.collapsed) {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
  }

  .frequently_text_box {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border: 1px solid #F3F4FE;
    background: #FFF;
    box-shadow: 0px 20px 95px 0px rgba(201, 203, 204, 0.30);
  }
}