.frequently_breadcrum {
  height: 80px;
  display: flex;
  align-items: center;
}

.frequently_section {
  margin: 50px 0px;
}

.frequently_ask_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: center;
}

.frequently_ask_pragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
  text-align: center;
  margin: 0;
  padding: 20px 0px 60px 0px;
}

.frequently_contact_from {
  padding: 100px 0px;
}

.frequently_contact_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: center;
}

.frequently_contact_paragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
  text-align: center;
  margin: 0;
  padding: 20px 0px 60px 0px;
}

.frequently_qurstion_icon {
  position: absolute;
  right: 3%;
  top: 60%;
}

.form-check-input {
  font-size: 20px;
  margin-right: 10px;

  &:focus {
    box-shadow: none;
  }
}

.form-check-label {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
}

.frequently_submit_btn {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 16px 32px;
  background-color: var(--PrimaryBtnColor);
  border-radius: 8px;
}