.service_card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: all 0.3s;

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.service_card_img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.service_card_title {
  font-size: 25px;
  font-weight: 600;
  padding: 20px 0px 10px 0px;
  margin: 0;
}

.service_card_paragraph {
  font-size: 16px;
  font-weight: 400;
}

.service_card_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  border: 2px solid #344054;
  transition: all 0.3s;

  &:hover {
    background-color: var(--PrimaryBtnColor);
    border: var(--PrimaryBtnColor);
  }
}

.service_card_icon {
  color: #1D2939;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.3s;
}

.service_card_link:hover .service_card_icon {
  color: white;
}

@media only screen and (max-width: 576px) {
  
}