.service_card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: all 0.3s;
  border-radius: 18px;
  background: #FFF;

  &:hover {
    box-shadow: 0px 24px 48px -12px rgba(37, 211, 102, 0.10);
  }
}

.service_card_img {
  width: 68px;
  height: 68px;
  object-fit: cover;
}

.service_card_title {
  color: var(--SecondaryColor);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-align: left;
  padding: 20px 0px 15px 0px;
  margin: 0;
}

.service_card_paragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 10px;
}

.service_card_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  border: 2px solid #344054;
  transition: all 0.3s;

  &:hover {
    background-color: var(--PrimaryBtnColor);
    border: var(--PrimaryBtnColor);
  }
}

.service_card_icon {
  color: #1D2939;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.3s;
}

.service_card_link:hover .service_card_icon {
  color: white;
}

@media only screen and (max-width: 576px) {}