.breadcrumb_list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.breadcrumb_items {
  display: inline-flex;
  align-items: center;
}

.breadcrumb_arrow {
  color: var(--PrimaryColor);
  font-size: 20px;
  font-weight: 300;
}

.breadcrumb_link {
  color: var(--SecondaryColor);
  font-size: 16px;
}