.contact_breadcrumb {
  position: absolute;
  left: 3%;
  height: 80px;
  display: flex;
  align-items: center;
}

.contact_bg_img {
  height: 320px;
  border-radius: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(36, 49, 11, 0.8) 100%, rgba(104, 167, 6, 1) 100%), url(../../assets/contact.jpg);
  position: relative;
}

.contact_bd_textbox {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xemiron_contact_title {
  color: white;
  font-size: 48px;
  font-weight: 600;
}

/* ====>> Contact us <<==== */
.contact_us {
  margin: 100px 0px;
}

.contact_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
}

.contact_paragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
}

.contact_box {
  border: 1px solid rgba(242, 244, 247, 1);
  padding: 30px;
  width: 90%;
  border-radius: 16px;
}

.contact_box_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.location_box {
  display: flex;
  align-items: center;
}

.location_icon_box {
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin-right: 15px;
}

.location_icon {
  color: var(--PrimaryColor);
  font-size: 45px;
}

.location_name {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.location_view_map {
  color: var(--PrimaryColor);
  font-size: 12px;
  text-decoration: underline;
}

.contact_email {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.follow_us {
  margin-top: 50px;
}

.follow_us_text {
  color: var(--SecondaryColor);
  font-size: 32px;
  font-weight: 600;

}

.social_follow_box {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.follow_icon_box {
  border: 1px solid #D0D5DD;
  padding: 10px 16px;
  border-radius: 8px;
}

.follow_icon_box {
  font-size: 16px;
  font-weight: 600;
}

.socail_icon {
  color: #1877F2;
  font-size: 22px;
  margin-top: -3px;
  margin-right: 10px;
}

.contact_from {
  /* height: 300px; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 40px;
}