.contact_breadcrumb {
  position: absolute;
  left: 3%;
  height: 80px;
  display: flex;
  align-items: center;
}

.contact_bg_img {
  height: 320px;
  border-radius: 18px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(36, 49, 11, 0.8) 100%, rgba(104, 167, 6, 1) 100%), url(../../assets/about/abouts.jpg);
  position: relative;
}

.contact_bd_textbox {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xemiron_contact_title {
  color: white;
  font-size: 48px;
  font-weight: 600;
}

/* ====>> Contact us <<==== */
.contact_us {
  margin: 100px 0px;
}

.contact_title {
  font-size: 48px;
  font-weight: 600;
}

.contact_paragraph {
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
}

.contact_box {
  border: 1px solid red;
  padding: 20px 25px;
  width: 80%;
  border-radius: 16px;
}

.contact_box_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.location_box {
  display: flex;
  align-items: center;
}

.location_icon_box {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.location_icon {
  color: var(--PrimaryColor);
  font-size: 20px;
}

.location_name {
  margin: 0;
}

.location_view_map {
  color: var(--PrimaryColor);
  font-size: 14px;
  text-decoration: underline;
}

.follow_us {
  margin-top: 30px;
}

.follow_us_text {
  font-size: 32px;
  font-weight: 600;
}

.social_follow_box {
  display: flex;
  align-items: center;
}

.follow_icon_box {
  border: 1px solid red;
}

.facebook_icon_box {
  font-size: 18px;
  font-weight: 400;
}