.hero_bg_img {
  max-width: 100%;
  height: 110vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/home/Background.png);
}

.hero_text_box {
  height: 110vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.hero_category {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero_category_title {
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 10px;
  margin: 0px 10px;
  border: 2px solid white;
  text-align: left;
}

.hero_title {
  color: #FCFCFD;
  font-size: 66px;
  font-weight: 600;
}

.hero_paragraph {
  color: #FCFCFD;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 0px;
}

.hero_getstart_btn {
  color: white;
  padding: 10px 20px;
  background-color: var(--PrimaryBtnColor);
  border: 2px solid var(--PrimaryBtnColor);
  border-radius: 8px;
}

.hero_explore_btn {
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 8px;
  margin-left: 20px;
  transition: all 0.3s;

  &:hover {
    color: white;
    border: 2px solid var(--PrimaryBtnColor);
    background-color: var(--PrimaryBtnColor);
  }
}

.hero_img_box {
  position: relative;
}

.hero_img {
  position: relative;
}

.hero_review {
  position: absolute;
  bottom: -5%;
  right: 0%;
  z-index: 999;
}

/* ====>> About US Start <<======= */

.about_us {
  width: 100%;
  padding: 100px 0px;
}

.about_title {
  /* color: #101828; */
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 15px;
}

.about_paragraph {
  color: #475467;
  font-size: 16px;
  font-weight: 400;
}

/* =====>> Share Idea Start <<====== */

.share_idea {
  margin-bottom: 100px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(247deg, rgba(30, 42, 50, 0.20) 0.02%, rgba(30, 42, 50, 0.20) 98.6%), linear-gradient(112deg, #3E492E -15.84%, #68A706 60.63%, #333B25 127.7%);
  position: relative;
}

.share_idea_title {
  color: #FCFCFD;
  font-size: 48px;
  font-weight: 600;
}

.share_idea_paragraph {
  color: #FCFCFD;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0px;
}

.share_img {
  position: absolute;
  width: 500px;
  height: 135%;
  top: -13%;
  right: 4%;
  border-radius: 18px;
}

.share_idea_estimate_btn {
  color: white;
  padding: 10px 20px;
  background-color: var(--PrimaryBtnColor);
  border: 2px solid var(--PrimaryBtnColor);
  border-radius: 8px;
}

.share_idea_whatsapp_btn {
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 8px;
  margin-left: 20px;
  transition: all 0.3s;

  &:hover {
    color: white;
    border: 2px solid var(--PrimaryBtnColor);
    background-color: var(--PrimaryBtnColor);
  }
}

/* =====>> Service Offering <<===== */
.service_offering {
  padding: 50px 0px;
}

.service_offer_box {
  text-align: center;
  padding-bottom: 20px;
}

.service_offer_text {
  font-size: 48px;
  font-weight: 600;
}

.service_offer_paragraph {
  font-size: 18px;
  font-weight: 400;
}

/* =======>> Discuss Start <<===== */
.discuss {
  padding: 50px 0px;
}

.discuss_img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

/* ======>> we works <<====== */
.we_works {
  padding-top: 50px;
}

.works_text_box {
  text-align: center;
  padding-bottom: 20px;
}

.works_title {
  font-size: 48px;
  font-weight: 600;
}

.works_paragaraph {
  font-size: 18px;
  font-weight: 400;
}



/* =====>> Hospital Management Start <<====*/

.hospital_management {
  margin: 100px 0px;
}

.hospital_text_box {
  width: 110%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 48px 32px 48px 32px;
  background-color: rgb(245, 245, 245);
}

.hospital_mini_title {
  color: var(--SecondaryColor);
  font-size: 24px;
  font-weight: 600;
}

.hospital_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hospital_paragraph {
  font-size: 18px;
  font-weight: 400;
}

.hospital_icon_box {
  color: var(--PrimaryBtnColor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 2px solid var(--PrimaryBtnColor);
  border-radius: 8px;
  margin-right: 10px;
}

.hospital_count {
  display: block;
  color: var(--PrimaryBtnColor);
  font-size: 32px;
  font-weight: 600;
}

.hospital_count_title {
  color: var(--SecondaryColor);
  display: block;
  font-size: 32px;
  font-weight: 600;
  margin-left: 5px;
}


/* =====>> Client Testimonials <<===== */
.client_testimonial {
  background-color: #F4FFE1;
  padding: 50px 0px;
  margin-bottom: 50px;
}

.testimonial_title {
  font-size: 48px;
  font-weight: 600;
}

.testimonial_paragaraph {
  font-size: 18px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* ======>> Company Brands <<===== */
.company_brand {
  padding-bottom: 50px;
}

/* =====>> Frequently <<=====*/
.frequently {
  padding: 50px 0px;
}

.frequently_title {
  font-size: 48px;
  font-weight: 600;
}

.frequently_paragraph {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}

/* ======>> Explore Blogs <<====== */

.explore_blogs {
  padding: 50px 0px;
}

.explore_blogs_title {
  font-size: 48px;
  font-weight: 600;
}

.explore_blogs_paragraph {
  font-size: 18px;
  font-weight: 400;
}