/* ====================== 
Mobile Screen Responsive
==========================*/
@media only screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .hero_bg_img {
    height: 140vh;
  }

  .hero_inner {
    padding: 0;
  }

  .hero_category {
    margin-bottom: 10px;
  }

  .hero_category_title {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .hero_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .hero_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 0px 20px 0px;
  }

  .hero_explore_btn,
  .hero_getstart_btn {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    padding: 12px 24px;
  }

  .hero_explore_btn {
    border: 2px solid;
    margin: 20px 0px 0px;
  }

  .hero_img_box {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .hero_review {
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 999;
  }

  /* =========================
            About US
============================*/
  .about_us {
    width: 100%;
    padding: 50px 0px;
  }

  .about_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .about_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }

  /* =========================
           Share Idea
============================*/
  .share_idea {
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 50px;
    align-items: start;
    padding-top: 30px;
  }

  .share_idea_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  .share_idea_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding: 20px 0px;

  }

  .share_idea_estimate_btn,
  .share_idea_whatsapp_btn {
    display: block;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }

  .share_idea_whatsapp_btn {
    margin: 20px 0 0;
  }

  .share_idea_whatsapp_icon {
    width: 15px;
  }

  .share_img {
    display: none;

  }

  .share_img_box {
    width: 100%;
    height: 300px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/shareIdea1.png);
    border-radius: 18px;
    margin-top: 40px;
    transition: all 2s ease-in-out;

    &:hover {
      background-position: bottom;
    }
  }

  /* =========================
       Service Offering
============================*/
  .service_offering {
    padding: 50px 0px 50px 0px;
  }

  .service_offer_box {
    text-align: center;
    padding-bottom: 20px;
  }

  .service_offer_text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: center;
  }

  .service_offer_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
  }

  /* =========================
       Discuss Section
============================*/
  .discuss {
    padding: 0px 0px;
  }

  /* =========================
       Discuss Section
============================*/
  .we_works {
    padding-top: 50px;
  }

  .works_text_box {
    text-align: center;
    padding-bottom: 20px;
  }

  .works_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: center;

  }

  .works_paragaraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
  }

  /* =========================
       Hospital Management
============================*/
  .hospital_management {
    margin: 50px 0px;
    background-color: rgb(245, 245, 245);
  }

  .hospital_container {
    height: 100vh;
    background-color: rgb(245, 245, 245);
    overflow: unset;
    padding-left: 0px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    display: flex;
    align-items: center;
  }


  .hospital_mini_title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }

  .hospital_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: left;
    margin-bottom: 0px;
  }

  .hospital_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding: 10px 0px;
  }

  .hospital_icon_box {
    color: var(--PrimaryBtnColor);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border: 1px solid var(--PrimaryBtnColor);
    border-radius: 8px;
    margin-right: 10px;
  }

  .hospital_count {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .hospital_count_title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .hospital_img_box {
    margin-top: 30px;
  }

  /* =========================
      Client Testimonials
============================*/
  .client_testimonial {
    background-color: #DCFCE7;
    margin-bottom: 50px;
    padding: 5% 0px;
  }

  .testimonial_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  .testimonial_paragaraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .line_brack {
    display: none;
  }

  .testimonial_container {
    padding-left: 0%;
  }

  /* =========================
     Frequently
============================*/

  .frequently {
    padding: 0px 0px 0px 0px;
  }

  .frequently_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  .frequently_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding: 0px 0px;
  }

  .frequently_btn {
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding: 12px 24px;
    background-color: var(--PrimaryBtnColor);
    margin-bottom: 20px;
  }

  /* =========================
      Explore Blogs
============================*/
  .explore_blogs {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .explore_blogs_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: center;
  }

  .explore_blogs_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    padding-bottom: 10px;
  }

  .blogs_more_btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 12px 32px;
    display: block;
    margin: 10px 0px 0px 0px;
  }
}

@media only screen and (min-width: 401px)and (max-width: 768px) {}

@media only screen and (min-width: 769px)and (max-width: 1024px) {}

@media only screen and (min-width: 1025px)and (max-width: 1200px) {}

@media only screen and (min-width:1201px) and (max-width:1399px) {}