.hero_bg_img {
  width: 100%;
  height: 160vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/home/Header_BG.png);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_inner {
  padding-top: 70px;
}

.hero_category {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero_category_title {
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  margin: 0px 10px;
  border: 1px solid #107759;
  text-align: left;
  border-radius: 4px;
}

.hero_title {
  color: var(--SecondaryColor);
  font-size: 72px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: -0.02em;
  text-align: left;
}

.hero_paragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  padding: 20px 0px 30px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;


}

.hero_getstart_btn {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 16px 32px;
  background-color: var(--PrimaryBtnColor);
  border: 2px solid var(--PrimaryBtnColor);
  border-radius: 8px;
}

.hero_explore_btn {
  color: var(--SecondaryColor);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 16px 32px;
  border: 1px solid var(--SecondaryColor);
  border-radius: 8px;
  margin-left: 20px;
  transition: all 0.3s;

  &:hover {
    color: white;
    border: 2px solid var(--PrimaryBtnColor);
    background-color: var(--PrimaryBtnColor);
  }
}

.hero_img_box {
  position: relative;
}

.hero_img {
  position: relative;
  /* width: 400px;
  height: auto; */
}

.hero_review {
  position: absolute;
  bottom: -5%;
  right: 0%;
  z-index: 999;
}

/* ====>> About US Start <<======= */

.about_us {
  width: 100%;
  padding: 100px 0px;
}

.about_title {
  color: #101828;
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 15px;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;

}

.about_paragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

/* =====>> Share Idea Start <<====== */

.share_idea {
  margin-top: 50px;
  margin-bottom: 100px;
  background: linear-gradient(64.42deg, rgba(231, 247, 207, 0.2) -0.86%, rgba(0, 0, 0, 0) 77.04%),
    linear-gradient(253.54deg, rgba(37, 211, 102, 0.2) -3.95%, rgba(229, 246, 202, 0.2) 97.51%),
    linear-gradient(75.07deg, #E3F6C7 -34.42%, #25D366 130.71%);
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.share_idea_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: left;
  margin: 0;

}

.share_idea_paragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  margin: 0;
  padding: 30px 0px;

}

/* .share_img_box {
  position: absolute;
  height: 130%;
  top: -18%;
  right: 4%;
  overflow: hidden;
  object-position: top;
}

.share_img {
  width: 100%;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */


.share_idea_box {
  position: relative;
}

.share_img {
  position: absolute;
  top: -18%;
}

.share_idea_estimate_btn {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 16px 32px;
  background-color: var(--PrimaryBtnColor);
  border-radius: 8px;
}

.share_idea_whatsapp_btn {
  color: var(--SecondaryColor);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 16px 32px;
  border: 1px solid var(--SecondaryColor);
  border-radius: 8px;

  margin-left: 20px;
  transition: all 0.3s;

  &:hover {
    color: white;
    border: 1px solid var(--PrimaryBtnColor);
    background-color: var(--PrimaryBtnColor);
  }
}

/* =====>> Service Offering <<===== */
.service_offering {
  padding: 100px 0px 50px 0px;
}

.service_offer_box {
  text-align: center;
  padding-bottom: 40px;
}

.service_offer_text {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
}

.service_offer_paragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
}

/* =======>> Discuss Start <<===== */
.discuss {
  padding: 50px 0px;
}

.discuss_img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border: 10px solid #FCFCFD;
  border-radius: 18px;
}

/* ======>> we works <<====== */
.we_works {
  padding-top: 50px;
}

.works_text_box {
  text-align: center;
  padding-bottom: 40px;
}

.works_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
}

.works_paragaraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
}


/* =====>> Hospital Management Start <<====*/

.hospital_management {
  margin: 100px 0px;
}

.hospital_container {
  height: 100vh;
  background-color: rgb(245, 245, 245);
  overflow: hidden;
  padding-left: 30px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  display: flex;
  align-items: center;
}

/* .hospital_text_box {
 
} */

.hospital_mini_title {
  color: var(--SecondaryColor);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-align: left;
}

.hospital_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: left;
  margin-bottom: 20px;
}

.hospital_paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  padding: 10px 0px;
}

.hospital_icon_box {
  color: var(--PrimaryBtnColor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: 1px solid var(--PrimaryBtnColor);
  border-radius: 8px;
  margin-right: 10px;
}

.hospital_count {
  display: block;
  color: var(--PrimaryBtnColor);
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.5px;
  text-align: left;

}

.hospital_count_title {
  color: var(--SecondaryColor);
  display: block;
  font-size: 32px;
  font-weight: 600;
  margin-left: 5px;
}


/* =====>> Client Testimonials <<===== */
.client_testimonial {
  background-color: #DCFCE7;
  margin-bottom: 50px;
  padding: 5% 0px;
}

.testimonial_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: left;
}

.testimonial_paragaraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 30px;
}

.testimonial_container {
  padding-left: 3%;
}

/* ======>> Company Brands <<===== */
.company_brand {
  padding: 50px 0px;
}

/* =====>> Frequently <<=====*/
.frequently {
  padding: 100px 0px 50px 0px;
}

.frequently_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: left;
}

.frequently_paragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  padding: 10px 0px;
}

.frequently_btn {
  display: inline-block;
  color: var(--PrimaryBtnColor);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  border: 2px solid var(--PrimaryBtnColor);
  padding: 16px 32px;
  border-radius: 8px;
}

/* ======>> Explore Blogs <<====== */

.explore_blogs {
  margin-top: 100px;
  margin-bottom: 50px;
}

.explore_blogs_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
}

.explore_blogs_paragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;

}

.blogs_more_btn {
  color: var(--PrimaryBtnColor);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  border-radius: 8px;
  border: 1px solid var(--PrimaryBtnColor);
  padding: 16px 32px;
  transition: all 0.3s;
  display: inline-block;
  margin: 50px 0px;

  &:hover {
    color: white;
    background-color: var(--PrimaryBtnColor);
  }
}