/* Mobile */
@media only screen and (max-width: 576px) {

  /* =====>> Hero Section <<==== */
  .hero_bg_img {
    height: 170vh;
    align-items: start;
  }

  .hero_category {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .hero_category_title {
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .hero_title {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .hero_paragraph {
    font-size: 14px;
  }

  .hero_explore_btn,
  .hero_getstart_btn {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px;
    font-style: 14px;
    padding: 12px 24px;
  }

  .hero_explore_btn {
    margin-top: 20px;
  }

  /* =====>> About Section <<===== */
  .about_us {
    padding: 0px 0px;
    margin-top: -220px;
    margin-bottom: 50px;
  }

  .about_title {
    font-size: 24px;
    padding-top:30px;
  }

  .about_paragraph {
    font-size: 14px;
  }

  /* =====>> Share Idea Start <<====== */
  .share_idea_title {
    font-size: 24px;
  }

  .share_idea_paragraph {
    font-size: 14px;

  }

  /* =====>> Service Offering <<===== */
  .service_offering {
    padding: 0px 0px;
  }


  .service_offer_text {
    font-size: 24px;
  }

  .service_offer_paragraph {
    font-size: 14px;
  }

  /* ======>> we works <<====== */
  .we_works {
    padding-top: 0px;
  }

  .works_title {
    font-size: 24px;
  }

  .works_paragaraph {
    font-size: 14px;
  }

  /* =====>> Hospital Management Start <<====*/

  .hospital_management {
    margin: 0px 0px;
  }

  .hospital_mini_title {
    color: var(--SecondaryColor);
    font-size: 24px;
    font-weight: 600;
  }

  .hospital_title {
    font-size: 24px;
  }

  .hospital_paragraph {
    font-size: 14px;
  }

  /* =====>> Client Testimonials <<===== */
  .client_testimonial {
    padding: 0px 0px;
    margin-bottom: 0px;
  }

  .testimonial_title {
    font-size: 24px;
  }

  .testimonial_paragaraph {
    font-size: 14px;
  }

  /* ======>> Company Brands <<===== */
  .company_brand {
    padding-bottom: 0px;
  }

  /* =====>> Frequently <<=====*/
  .frequently {
    padding: 0px 0px;
  }

  .frequently_title {
    font-size: 24px;
    font-weight: 600;
  }

  .frequently_paragraph {
    font-size: 14px;
  }

  /* ===>> Blogs Responsive Start <<===== */
  .explore_blogs_title {
    font-size: 24px;
  }

  .explore_blogs_paragraph {
    font-size: 14px;
  }

  .blogs_more_btn {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 12px 32px;
    margin-top: 20px;
  }
}