.promise_bg_img {
  width: 100%;
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/promissBG.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

.promise_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: center;
}

.promise_paragaraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
  text-align: center;
  padding: 20px 0px;
}

.promise_btn {
  color: var(--SecondaryColor);
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  padding: 16px 32px;
  transition: all 0.3s;
  display: inline-block;
  background-color: #F0FDF4;
}

@media only screen and (min-width:1200px) and (max-width:1399px) {
  .promise_title {
    font-size: 44px
  }

  .promise_paragaraph {
    font-size: 16px;
  }
}