.service_breadcrumb {
  position: absolute;
  top: 7%;
}

.service_bg_img {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/service/service.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.service_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: left;
}

.service_paragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  padding: 20px 0px 30px 0px;
}

.service_btn {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  border-radius: 8px;
  background-color: var(--PrimaryBtnColor);
  padding: 16px 32px;
  transition: all 0.3s;
  display: inline-block;
}

/* ======>> Service Provide <<========= */
.service_provide {
  margin: 100px 0px 50px 0px;
}

.service_provide_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: left;
  font-size: 48px;
  font-weight: 600;
}

.service_provide_paragraph {
  color: var(--ParagraphColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  padding: 20px 0px 40px 0px;
}

/* =====>> Project <<==== */
.project {
  background-color: #DCFCE7;
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px 50px 0px;
}

.project_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: left;

  padding-bottom: 40px;
}


/* ==>> Compaany Brands <<===== */
.service_company_brand {
  padding: 50px 0px 100px 0px;
}