@media only screen and (min-width:1200px) and (max-width:1399px) {
  .service_title {
    font-size: 44px;
  }

  .service_paragraph {
    font-size: 16px;
  }

  .service_btn {
    padding: 14px 28px;
    display: inline;
  }

  /* ====>> Service Provider <<==== */
  .service_provide_title {
    font-size: 44px;
  }

  .service_provide_paragraph {
    font-size: 16px;
  }

  /* ====>> Project <<======= */
  .project {
    height: 180vh;
  }

  .project_title {
    font-size: 44px;
  }
}