/* ====================== 
Mobile Screen Responsive
==========================*/
@media only screen and (max-width: 480px) {
  .service_breadcrumb {
    display: none;
  }

  .service_bg_img {
    height: 85vh;
    background-image: none;
    background-color: white;
  }

  .service_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: left;
    padding-top: 40px;
  }

  .service_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding: 10px 0px 10px 0px;
  }

  .service_btn {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding: 12px 32px;
    display: block;
  }

  /* =======================
      Service Provide
=============================*/
  .service_provide {
    margin: 30px 0px 50px 0px;
  }

  .service_provide_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  .service_provide_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding: 00px 0px 0px 0px;
  }

  /* ==================
        Project
=======================*/
  .project {
    background-color: #DCFCE7;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 50px 0px;
  }

  .project_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: left;
    padding-bottom: 40px;
  }


  /* =====================
      Company Brand
========================*/
  .service_company_brand {
    padding: 0px 0px 50px 0px;
  }

}



/* @media only screen and (min-width:1200px) and (max-width:1399px) {} */