.inner_navbar_sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  padding: 10px 0px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  z-index: 9999;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url(../../assets/header/menu.svg);
}

.nav-link {
  font-size: 16px;
  font-weight: 400;
  color: black;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--PrimaryBtnColor);
  }
}

.nav_btn {
  color: white;
  background-color: var(--PrimaryBtnColor);
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 8px;
}

.dropdown_mega_menu {
  width: 100%;
  border: none;
  border-radius: 0px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  background-color: rgba(220, 252, 231, 1);
  padding: 50px 0px;
}

.dropdown-item.active {
  color: black;
  background-color: transparent;
}