.navbar {
  background-color: white;
  padding: 10px 0px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* .navbar-toggler-icon {
  background-image: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.nav_btn {
  color: white;
  background-color: var(--PrimaryBtnColor);
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 8px;
}

.dropdown_mega_menu {
  width: 100%;
  border: none;
  border-radius: 0px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  background-color: #F4FFE1;
}

.dropdown-item.active {
  color: black;
  background-color: transparent;
}