.home_navbar {
  position: fixed;
  width: 100%;
  top: 10px;
  z-index: 9999;
  background-color: transparent;
}

.home_navbar_sticky {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 9999;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.nav_link {
  font-size: 16px;
  font-weight: 400;
  color: white !important;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--PrimaryBtnColor);
  }
}

.nav-link.active {
  color: var(--PrimaryBtnColor) !important;
}

.nav_btn {
  color: white;
  background-color: var(--PrimaryBtnColor);
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 8px;
}