.sayhello_box_left {
  height: 250px;
  padding: 68px 56px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../../assets/newsletter-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sayhello_mini_title {
  color: var(--SecondaryColor);
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.5px;
  text-align: left;
}

.sayhello_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: left;
  display: flex;
  align-items: center;
}

.sayhello_email {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -1.75px;
  text-align: left;
  padding-left: 5px;
  border-bottom: 1px solid var(--SecondaryColor);
}

.sayhello_box_right {
  height: 250px;
  max-height: 250px;
  padding: 30px 30px;
  border-radius: 18px;
  background-color: #FCFCFD;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.3s;

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(247deg, rgba(30, 42, 50, 0.20) 0.02%, rgba(30, 42, 50, 0.20) 98.6%), linear-gradient(112deg, #354221 -15.84%, #68A706 60.63%, #3A4F19 127.7%);
    cursor: pointer;
  }

  &:hover .sayhello_right_mini_title,
  &:hover .sayhello_right_title {
    color: white;
  }
}

.sayhello_right_mini_title {
  color: var(--SecondaryColor);
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.sayhello_right_title {
  color: var(--SecondaryColor);
  font-size: 48px;
  font-weight: 300;
  padding-top: 30px;
}

/* Laptop */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

  .sayhello_box_left,
  .sayhello_box_right {
    height: 230px;
    max-height: 230px;
  }


  .sayhello_title,
  .sayhello_email,
  .sayhello_right_title {
    font-size: 40px;
  }
}

/* Tablet */
@media only screen and (min-width: 577px) and (max-width: 1199px) {
  .sayhello_box_right {
    margin-top: 20px;
  }

  .sayhello_box_left,
  .sayhello_box_right {
    height: 200px;
    max-height: 200px;
  }

  .sayhello_box_left {
    padding: 48px 26px;
  }


  .sayhello_mini_title {
    font-size: 30px;
  }

  .sayhello_right_mini_title {
    font-size: 30px;
  }

  .sayhello_title,
  .sayhello_email,
  .sayhello_right_title {
    font-size: 25px;
  }
}

/* Mobile */
@media only screen and (max-width:576px) {
  .sayhello_box_right {
    margin-top: 20px;
    padding: 20px 30px;
  }

  .sayhello_box_left,
  .sayhello_box_right {
    height: 160px;
    max-height: 160px;
  }

  .sayhello_box_left {
    padding: 48px 16px;
  }

  .sayhello_mini_title {
    font-size: 24px;
  }

  .sayhello_right_mini_title {
    font-size: 18px;
  }

  .sayhello_title,
  .sayhello_email,
  .sayhello_right_title {
    font-size: 18px;
  }
}