/* ====================== 
Mobile Screen Responsive
==========================*/
@media only screen and (max-width: 480px) {
  .schedule_breadcrumb {
    display: none;
  }

  .schedule {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .schedule_title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
  }

  .schedule_para_option {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  .select_date_title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
  }

  .time_zome {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
  }

  .select_zone {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;

    display: block;
    color: #25D366;
    border: 1px solid #25D366;
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .schedule_time_box {
    padding: 32px 0px;
    border-radius: 0px;
    background: #FFF;
    box-shadow: none;
  }

  .select_time_title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
  }

  .select_mins {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
    padding-bottom: 10px;
  }

  .time_select_btn {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 6px 12px;
  }
}