.slick-list {
  padding: 0px !important;
}

.slick-dots {
  position: absolute;
  bottom: -16%;
  left: 3%;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: start;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 75px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '-';
  text-align: center;
  opacity: .25;
  color: rgb(197, 195, 195);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #25D366;
}

.testimonial_btn_left {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 25px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.testimonial_btn_right {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 25px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-left: 8%;
}

@media only screen and (min-width:1200px) and (max-width:1399px) {
  .slick-dots {
    position: absolute;
    bottom: -15%;
    left: 3%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: start;
  }
}

@media only screen and (max-width: 480px) {
  .slick-dots {
    position: absolute;
    left: 0%;
    bottom: -7%;
    text-align: center;
  }

  .testimonial_btn_left {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .testimonial_btn_right {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 15px;
    padding: 0px 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-left: 0%;
  }
}