.testimonial_card {
  border: 0px;
  border-radius: 12px;
  margin: 0px 15px 15px 15px;
  background-color: white;
  box-shadow: 0px 1px 2px 0px rgba(45, 54, 67, 0.04), 0px 2px 4px 0px rgba(45, 54, 67, 0.08);
}

.testimonial_name {
  color: #003D31;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.testimonial_country {
  color: #596966;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}

.testimonial_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
}

.testimonial_icon {
  color: #F8CD53;
  display: block;
  width: 30px;
  height: 25px;
  font-size: 10px;
  border-radius: 50px;
  background-color: rgb(248, 232, 202);
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial_underline {
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background-color: #DEE5E4;
  margin-left: 15px;
}