/* ====================== 
Mobile Screen Responsive
==========================*/
@media only screen and (max-width: 480px) {
  .blogs_breadcrumb {
    display: none;
  }

  .our_blogs {
    margin: 50px 0px 50px 0px;
  }

  .our_blogs_title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
    padding-bottom: 10px;
  }

  .filter_tab_link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
  }
}

/* @media only screen and (min-width:1200px) and (max-width:1399px) {} */