@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --PrimaryFonts: 'Inter', sans-serif;
  --PrimaryColor: #68A706;
  --SecondaryColor: #223039;
  --ParagraphColor: #475467;
  --PrimaryBtnColor: #68A706;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--PrimaryFonts);
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

.form-select:focus {
  box-shadow: none;
  cursor: pointer;
}

/* Dasktop Large */
@media only screen and (min-width: 1201px) {
  .section_title {
    color: var(--SecondaryColor);
    font-size: 48px;
    font-weight: 600;
    font-family: var(--PrimaryFonts);
  }

  .section_paragraph {
    color: var(--ParagraphColor);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--PrimaryFonts);
  }
}

/* Dasktop */
/* @media only screen and (max-width: 1200px) {} */

/* Laptop */
/* @media only screen and (max-width: 992px) {} */

/* Tablet */
/* @media only screen and (max-width: 768px) {} */

/* Mobile */
/* @media only screen and (max-width: 576px) {} */