@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --PrimaryFonts: 'Inter', sans-serif;
  --PrimaryColor: #25D366;
  --SecondaryColor: #223039;
  --ParagraphColor: #475467;
  --PrimaryBtnColor: #25D366;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--PrimaryFonts);
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

.form-select:focus {
  box-shadow: none;
  cursor: pointer;
}