.work_box {
  height: auto;
  display: flex;
  padding: 50px 30px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.work_count {
  color: var(--SecondaryColor);
  opacity: 0.1;
  font-size: 200px;
  font-weight: 700;
}

.work_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 30px 30px;
}

.work_icon {
  width: 60px;
}

.work_title {
  color: var(--SecondaryColor);
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
}

.work_description {
  font-size: 16px;
  font-weight: 400;
}