.service_offer_card {
  position: relative;

  &:hover .service_offer_overlay {
    visibility: visible;
  }

  &:hover .service_offer_btn_icon {
    opacity: 1;
  }

  &:hover .service_offer_btn {
    background-color: var(--PrimaryBtnColor);
  }
}

.service_offer_img {
  position: relative;
}

.service_offer_btn {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.30000001192092896px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: var(--SecondaryColor);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}

.service_offer_btn_icon {
  margin-left: 10px;
  display: block;
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.service_offer_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 86%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  visibility: hidden;
  transition: all 0.3s;
  cursor: pointer;
}

.service_offer_overlay_icon {
  font-size: 20px;
  color: white;
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--PrimaryBtnColor);
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .service_offer_btn {
    font-size: 12px;
    text-align: start;
    padding: 5px 0px;
  }

  .service_offer_btn_icon {
    margin-left: 5px;
    font-size: 12px;
  }
}